LOCAL_LLM_MODEL=mitchelldehaven/whisper-medium-ru
TORCH_DTYPE=FLOAT32
DEVICE=cpu
LLM_ENDPOINT=http://local_llm:4321/inference/
BACKEND_ENDPOINT=http://backend:8009/get_answer/
HF_HOME=/root/.cache/huggingface
